.logoimg{
width:20%;

}
.title{
  width:100%;
  text-align: center;
}

body{

  background-color: white;
}

a{
  font-family: 'Roboto', sans-serif;
}

h1{
  font-family:serif;
}
h2{
  font-family: serif;
  color: white;

}

label{
  display: inline-block;
    max-width: 100%;
    font-size: 1.8rem;
    font-family: Roboto, thin;
}
.boxA{
  background-color: #ff9696;
  margin:5%;
  padding: 5%;
}
.boxB{
color:black;
margin:5%;
text-align: center;
overflow: auto;

}
.imgA{
  margin-left: 10%;
  max-width:80%;
}
.restimg{
  float:left;
  width:100%;
}
.imgcolumn{
float:left;
width:25%;
}

.textcolumn{
  float: left;
  width: 70%;
  margin-left: 5%;
  text-align: left;
}

select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.button {
  background-color: white;
 color: black;
 border: 2px solid, red; /* Green */
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 4px;
  border-radius: 4px;
  padding: 12px 28px;
}

.button:hover {
  background-color: red; /* Green */
  color: white;
}
